.vscode/
.DS_Store
Thumbs.db

# Ignore all files inside data and discographies
src/assets/data/*
!src/assets/data/.gitkeep
src/assets/discographies/*
!src/assets/discographies/.gitkeep

# Ignore covers
src/assets/textures/covers/*
!src/assets/textures/covers/unknown.png

# Electron crappy crap
node_modules/
dist/
build/
out/
release/
.electron/
.electron-builder/
npm-debug.log*