.vscode/
.DS_Store
Thumbs.db

# Ignore all files inside assets/Music but keep the folder itself
App/assets/Music/*
!App/assets/Music/.gitkeep

# Electron crappy crap
node_modules/
dist/
build/
out/
release/
.electron/
.electron-builder/
npm-debug.log*