:root {
	/* Colors */

	--color-primary: rgb(80, 80, 80);
	--color-secondary: rgb(51, 51, 51);
	--color-tertiary: rgb(24, 24, 24);
	--color-quaternary: rgb(12, 12, 12);
	--color-subtitle: rgb(255, 255, 255);

	--color-highlight-gradient: linear-gradient(var(--color-secondary), var(--color-secondary));

	--color-line-gradient: none;
	--color-line-played: rgb(255, 255, 255);
	--color-line-unplayed: rgb(90, 90, 90);

	--color-icons: rgb(175, 175, 175);
	--color-icons-click: rgb(112, 112, 112);
	--color-icons-active: rgb(57, 196, 115);

	--color-timestamp-1: rgb(0, 217, 255);
	--color-timestamp-2: rgb(85, 255, 227);
	--color-embed-1: rgb(255, 183, 28);
	--color-embed-2: rgb(255, 241, 113);

	/* Values */

	--value-panel-border-radius: 10px;
	--value-panel-box-shadow: 0 0 50px rgba(0, 0, 0, 0);
	--value-default-box-shadow: 0 0 16px rgba(0,0,0,.5);

	--value-info-width: 300px;
	--value-info-padding: 20px;
	--value-info-padding-horizontal: 12px;
	
	--value-data-padding: 8px;
	
	--value-timeline-height: 70px;

	--value-timeline-padding: 20px;
	--value-timeline-left-text-size: 8px;
	--value-timeline-middle-text-size: .95em;
	--value-timeline-icon-size: 20px;

	--value-line-size: 4px;
	--value-spinner-size: 12px;

	--value-track-height: 300px;
	--value-track-padding: 20px;

	/* Transitions and animations */
	
	--trans-button: transform 0.075s ease, color 0.075s ease, background-color 0.075s ease;
	--trans-button-fast: transform 0.05s ease, color 0.05s ease, background-color 0.05s ease;
	--anim8-default-curve: cubic-bezier(.4,0,.2,1);
}

@font-face {
	font-family: 'Bravura';
	src: url('assets/fonts/Bravura.otf') format('opentype');
}

body {
	color: white;
	background-color: var(--color-tertiary);
	font-family: 'Roboto', 'Franklin Gothic Medium', Arial, sans-serif;
	margin: 0;
	font-size: 1.1em;
	text-shadow: 0 0 4px rgba(0, 0, 0, .33);
	overflow: hidden;
}

#main {
	height: 100%;
}

#main-canvas {
	display: block;
	background-color: black;
	width: 100vw;
	height: 100vh;
	/*image-rendering: pixelated;*/
	font-variant-ligatures: none;
}
canvas:focus {
	outline: none;
}


/* ANIMATIONS //////////////////////////////////////////////////////////////*/

.loading {
	width: 120px;
	height: 20px;
	background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #ffffff;
	background-repeat: no-repeat;
	background-size: 300% 100%;
	background-position: 100% 0%;
	animation: l1 .85s infinite linear;
}

@keyframes l1 {
	0% { background-position: 100% 0%; }
	100% { background-position: 0% 0%; }
}

@keyframes clickTimestamp {
	0% {
		background-color: var(--color-timestamp-1);
		transform: scale(1);
	}
}

@keyframes fadeIn {
	from { opacity: 0; transform: translateY(5px); }
	to   { opacity: 1; transform: translateY(0); }
}


/* COVERS //////////////////////////////////////////////////////////*/

.cover {
	width: 100%;
	image-rendering: pixelated;
	background-color: black;
	box-shadow: 0 0 10px black;
	border-radius: 6px;
	aspect-ratio: 1 / 1;
}

#big-cover-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(.75);
	width: 80vh;
	height: 80vh;
	z-index: 1000;
	image-rendering: pixelated;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.25s ease, transform 0.3s cubic-bezier(0.23, 0.03, 0.29, 1.04);
}

#big-cover-wrapper.active {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.25s ease, transform 0.3s cubic-bezier(0.23, 0.03, 0.29, 1.04);
}

#big-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	box-shadow: 0 0 20px black;
}
#big-cover.inactive {
	transition: transform 0.2s ease;
}

/* Overlay */
#big-cover-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: opacity 0.2s ease, background-color 0.2s ease, visibility 0.2s ease;
}

#big-cover-overlay.active {
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
	transition: background-color 0.2s ease, opacity 0.2s ease;
}


/* INFO //////////////////////////////////////////////////////////////*/

#info {
	position: fixed;

	overflow-y: auto;
	scrollbar-gutter: stable both-edges;

	padding: var(--value-info-padding);
	padding-left: var(--value-info-padding-horizontal);
	padding-right: var(--value-info-padding-horizontal);

	width: var(--value-info-width);
	height: calc(100% - var(--value-info-padding)*2);
	top: 0;
	right: 0;
	z-index: 5;

	border-top-left-radius: var(--value-panel-border-radius);
	background-image: var(--color-highlight-gradient);
	box-shadow: var(--value-panel-box-shadow);

	outline: 0px solid rgba(128,128,128,.3);

	transform: translateX(100%); /* Initially hidden off-screen to the right */
	transition: transform .15s ease, outline .2s ease;
}

#info.active {
	transform: translateX(0);
}
#info.resizable {
	outline: 7px solid rgba(128,128,128,.3);
}

/* scrollbar **********************************/

#info::-webkit-scrollbar {
	width: 12px;
}
#info::-webkit-scrollbar-track {
	background: transparent;
}
#info::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: content-box;
}
#info::-webkit-scrollbar-thumb:hover {
	background: rgba(255,255,255, 0.5);
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: content-box;
}

/* main elements of info **********************************/

/* Fade in each element of info */
/*#info > * {
	opacity: 0;
	animation: fadeIn 0.4s var(--anim8-default-curve) forwards;
}
#info > div:nth-child(1) { animation-delay: 0s; }
#info > div:nth-child(2) { animation-delay: .04s; }
#info > div:nth-child(3) { animation-delay: .08s; }
#info > div:nth-child(4) { animation-delay: .12s; }*/

#info-cover {
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 8px black;
	border-radius: 6px;
	transition: box-shadow .1s ease;
}
#info-cover:hover #info-cover-img {
	filter: contrast(92%) brightness(115%);
}
#info-cover-img {
	display: block;
	width: 100%;
	border-radius: 6px;
}
.plus-sign {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 40px;
	opacity: 0;

	background: none;
	border: none;
	color: white;
	cursor: pointer;
	padding: 0;

	pointer-events: none;
}
body.edit-mode #info-cover:hover .plus-sign {
	opacity: 1;
	pointer-events: auto;
}

#info-title {
	margin: 20px 0 20px 0;
	padding: 20px 25px 18px 20px;
	overflow-wrap:anywhere;
}
#info-header {
	font-size: 1.75em;
	font-weight: 700;
	margin: 0 0 3px 0;
}
#info-shortDescription {
	font-size: 1.1em;
	font-style: italic;
	margin-bottom: 7px;
	opacity: .8 !important;
	color: var(--color-subtitle);
} 

.info-highlight {
	padding: 20px;
	margin-bottom: 20px;
	font-size: .9em;

	background-image: linear-gradient(133deg, rgba(255, 255, 255, .2) 0%, transparent 90%);
	box-shadow: var(--value-default-box-shadow), inset 0 0 9px rgba(255, 255, 255, 0.8);
	border-radius: 15px;
}
.dark {
	background-image: none;
	background-color: rgba(0,0,0,.8);
	box-shadow: var(--value-default-box-shadow), inset var(--value-default-box-shadow);
	border-radius: var(--value-data-padding); 
}
.info-highlight p {
	margin: 0;
}

/* DATA **********************************/

#data-container {
	padding: 0;
}
#data-container p {
	margin-bottom: .95em;
}

#data-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
	height: 55px;

	font-weight: bold;
	font-size: 1.2em;
}
#data-menu button:first-child {
	border-top-left-radius: var(--value-data-padding);
}
#data-menu button:last-child {
	border-top-right-radius: var(--value-data-padding);
}
.data-menu-item {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	height: 100%;
	width: 100%;
	
	font-size: 1em;
	font-weight: bold;

	border: 1px solid black;
	border-radius: 0px;

	color: white;
	background-color: rgba(0,0,0,.45);
	box-shadow: inset 0 0 8px rgba(0,0,0,.5);

	transition: box-shadow .1s ease, background-color .1s ease;
}
.data-menu-item.selected {
	background-color: rgba(255, 255, 255, 0.025);
	box-shadow: inset 0 0 8px rgba(255, 255, 255, .45);
}
.data-menu-item:hover {
	background-color: rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.9);
}
.data-menu-item:active {
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: inset 0 0 8px rgba(255, 255, 255, 1);
	transition: box-shadow .01s ease, background-color .01s ease;
}

/* data contents **********************************/

#data-contents {
	overflow-y: auto;
	max-height: 50vh;
}
#data-contents::-webkit-scrollbar {
	width: 12px;
}
#data-contents::-webkit-scrollbar-track {
	background: transparent
}
#data-contents::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: content-box;
}
#data-contents::-webkit-scrollbar-thumb:hover {
	background: rgba(255,255,255, 0.3);
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: content-box;
}

.data-contents-item {
	white-space: pre-wrap;
	min-height: 1em;
	padding: 20px;
	overflow-wrap: break-word;
}

#date-picker {
	font-family: 'Roboto', 'Franklin Gothic Medium', Arial, sans-serif;
}

/* placeholder text **********************************/

[contenteditable]:empty:not(:focus):before {
	content: attr(placeholder);
	pointer-events: none;
}
[contenteditable="true"]:not(#info-shortDescription):empty:not(:focus):before {
	opacity: 0.6;
}
[contenteditable="false"]:not(#info-shortDescription):empty:not(:focus):before {
	opacity: 0;
}

/* entities **********************************/

.time, .non-time {
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
}
.time:hover, .non-time:hover {
	background: var(--color-highlight-gradient);
	border-radius: 0px !important;
	color: white;
}

.time			 { color: var(--color-timestamp-1); }
.time:active	 { color: var(--color-timestamp-2); }

.non-time		 { color: var(--color-embed-1); }
.non-time:active { color: var(--color-embed-2); }


/* EDIT BUTTON //////////////////////////////////////////////////////////////*/

#button-edit {
	position: fixed;
	top: 22px;
	right: calc( var(--value-info-width) + var(--value-info-padding-horizontal) * 2 - 1px );

	width: 50px;
	height: 50px;

	border: none;
	border-radius: 50%;
	background-color: var(--color-tertiary);
	border: 1px solid var(--color-secondary);
	color: white;
	box-shadow: 0 0 3px black;
	font-size: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	cursor: pointer;

	z-index: 6;
	
	transform: translateX(var(--value-info-width));
	transition: transform 0.15s var(--anim8-default-curve);
}

#info.active ~ #button-edit {
	transform: translateX(-22px);
}

#button-edit:hover {
	background-color: var(--color-secondary);
}

/* activated state on the button itself (no inner span required) */
#button-edit.activated {
	background-color: rgb(23, 99, 46);
	border: 1px solid transparent;
}
#button-edit.activated:hover {
	background-color: rgb(67, 155, 45);
	border: 1px solid transparent;
}

/* TIMELINE //////////////////////////////////////////////////////////////*/

#timeline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	position: fixed;
	left: 0;
	bottom: 0;
	
	height: calc(var(--value-timeline-height) + var(--value-timeline-padding)*2 + var(--value-track-padding) + var(--value-track-height));
	width: 100%;

	background-color: var(--color-tertiary);

	transform: translateY(100%); /* hidden off-screen */
	transition: transform 0.4s var(--anim8-default-curve);
	box-shadow: var(--value-panel-box-shadow);
	z-index: 4;
}
#timeline.active {
	transform: translateY(calc(100% - var(--value-timeline-height) - var(--value-timeline-padding)*2));
}
#timeline.opened-track {
	transform: translateY(0);
}

/* Shrink timeline width when info is open */
#info.active ~ #timeline {
	width: calc(100% - var(--value-info-width) - var(--value-info-padding-horizontal)*2);
}

/* TIMELINE CONTENTS */
#timeline-contents {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: var(--value-timeline-height);
	width: auto;
	
	padding: var(--value-timeline-padding);
}

/* prevent drag ghost images for images */
#line-container {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}

.timeline-section {
	display: flex;
	align-items: center;
	height: 100%;
}

/* LEFT PART OF TIMELINE ***********************/

#timeline-left {
	width: 30%;
	position: relative;
	z-index: 5;

	font-size: 2rem;
	font-weight: bold;
}

#timeline-left .inner {
	overflow-x: hidden;
}

/* overlay fade on the right */
#timeline-left::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 6rem;
	pointer-events: none;
	background: linear-gradient(to right, transparent 0%, var(--color-teriary) 100%);
}

.timeline-left-icon {
	font-size: calc(var(--value-timeline-left-text-size)*1.55);
	margin-right: 5px;
}

#timeline-left-1 {
	width: auto;
	height: 100%;
	margin-right: 15px;
	border-radius: 2px;
	box-shadow: 0 0 6px black;
}

#timeline-left-title {
	color: white;
	font-size: calc(var(--value-timeline-left-text-size)*2) !important;
	font-weight: bold;
}
#timeline-left-2 {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-size: calc(var(--value-timeline-left-text-size)*1.25);
	color: var(--color-icons);

	white-space: nowrap;
}
#timeline-left-2 p {
	margin: 0;
}
#timeline-left-2 div {
	font-weight: normal;
}
#timeline-left-2 > * {
	display: flex;
	align-items: center;
	margin-bottom: calc(var(--value-timeline-left-text-size) / 2) !important;
}

/* MIDDLE PART OF TIMELINE ***********************/

#timeline-middle {
	flex-direction: column;
	justify-content: flex-start;
	width: 40%;
	z-index: 6;
}

/* buttons ***********************/

#buttons-container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* Centers button with padding
	   (The line-container's upper bound doesn't stop at the upper bound of line --- it stops at the upper bound of the text) */
	margin-bottom: calc( var(--value-timeline-padding) - ( var(--value-timeline-middle-text-size) - var(--value-line-size) ) / 2 );
}

/* Make icon buttons perfect circles */
.button-icon-basic, .button-icon-main {
	display: inline-grid;
	place-items: center;
	align-content: center;
	padding: 0;
	height: calc(var(--value-timeline-icon-size) * 2);
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: var(--trans-button);
}
.button-icon-basic i, .button-icon-main i {
	color: var(--color-icons);
	width: 60%;
	height: 60%;
	font-size: var(--value-timeline-icon-size);
	display: block;
	line-height: 0;
	transition: var(--trans-button);
}

/* Enlarge icon and change color on hover */
.button-icon-basic:hover {
	transform: scale(1.1);
}
.button-icon-basic:hover i {
	color: white;
}

/* Change icon color when enabled */
.button-icon-basic.enabled i {
	color: var(--color-icons-active);
}
.button-icon-basic.enabled-1 i {
	color: var(--color-icons-active);
}
.button-icon-basic.enabled-2 i {
	color: rgb(87, 255, 241);
}

/* Darken icon when clicked */
.button-icon-basic:active {
	transform: scale(1.05);
	transition: var(--trans-button-fast);
}
.button-icon-basic:active i {
	color: var(--color-icons-click);
	transition: var(--trans-button-fast);
}


#button-pause, #button-play {
	margin: 0 5px 0 5px;
}

.button-icon-main {
	background-color: white;
	transition: var(--trans-button);
}
.button-icon-main i {
	color: var(--color-tertiary);
}
.button-icon-main:hover {
	transform: scale(1.075);
}
.button-icon-main:active {
	background-color: var(--color-icons);
	transition: var(--trans-button-fast);
}

/* Line ***********************/

#timeline-container {
	display: flex;
	align-items: center;
	width: 100%;
}
.timeline-text {
	font-size: .8em;
	margin: 0;
}
/* Reserve room for the time labels so they don't push layout when they grow */
#elapsed, #remaining {
	min-width: 3.5rem;
	max-width: 6.5rem;
	text-align: center;
	white-space: nowrap;
	overflow: visible;
}
#elapsed {
	text-align: right;
	margin-right: 10px;
}
#remaining {
	text-align: left;
	margin-left: 10px;
}

#line-container {
	flex: 1; /* line keeps the remaining space and stays centered */
	display: flex;
	position: relative;
	align-items: center;
	height: 50%;
	width: 100%;
	cursor: pointer;
}
#line-container:hover > #spinner {
	transform: scale(1);
}

#line {
	background-color: var(--color-line-unplayed);
	height: var(--value-line-size);
	width: 100%;
	border-radius: calc(var(--value-line-size)/2);
	background-image: var(--color-line-gradient);
}

#spinner {
	position: absolute;
	background-color: var(--color-line-played);
	height: var(--value-spinner-size);
	width: var(--value-spinner-size);
	border-radius: calc(var(--value-spinner-size) / 2);
	cursor: pointer;

	transform: scale(.8);
	transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#spinner:hover {
	transform: scale(1);
}
.timestamped {
	animation: clickTimestamp .8s ease;
}

/* RIGHT PART OF TIMELINE ***********************/

#timeline-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: right;
	width: 30%;
	z-index: 5;
}

/* volume line ***********************/

#volume-container {
	display: flex;
	align-items: center;
	justify-content: right;
	height: 100%;
	min-width: 100px;
	width: 50%;
	max-width: 200px;
}

#volume-line-container {
	display: flex;
	position: relative;
	align-items: center;
	width: 75%;
	margin: 0;
	cursor: pointer;
	padding: 3px 0 3px 0;
}
#volume-line-container:hover > #volume-spinner {
	transform: scale(.75);
}

#volume-line {
	background-color: var(--color-secondary);
	height: var(--value-line-size);
	width: 100%;
	border-radius: calc(var(--value-line-size)/2);
	margin-right: 5px;
}

#volume-spinner {
	position: absolute;
	background-color: var(--color-line-played);
	height: var(--value-spinner-size);
	width: var(--value-spinner-size);
	border-radius: calc(var(--value-spinner-size) / 2);
	cursor: pointer;

	transform: scale(0);
	transition: transform 0.1s ease;
}
#volume-spinner:hover {
	transform: scale(1);
}


/* TRACK //////////////////////////////////////////////////////////////*/

#track {
	height: var(--value-track-height);
	margin: var(--value-track-padding);
	margin-top: 0;

	border-radius: 4px;
	background-color: var(--color-quaternary);
	box-shadow: inset 0 0 8px rgb(0, 0, 0, .5);
	z-index: 4;
}

#track-canvas {
	border-radius: 4px;
}


/* CONTEXT MENU //////////////////////////////////////////////////////////////*/

#context-menu {
	position: fixed;
	display: none;
	overflow: hidden;
	box-shadow: 0 0 30px rgba(0,0,0,.2);
	background-color: rgb(34, 34, 34, .9);
	border: 1px solid rgb(71, 71, 71);
	z-index: 2000;
	border-radius: 6px;
}
#context-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#context-menu ul li {
	padding: 10px 15px;
	cursor: pointer;
}
#context-menu ul li:hover {
	background-color: rgb(71, 71, 71);
}


/* LOADING MENU /////////////////////////////////////////////////////////////*/

#loading-overlay {
	user-select: none;
	background-color: rgba(0,0,0,.3);

	position: fixed;
	inset: 0;
	top: 20px;
	z-index: 9999;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	color: #ffffff;
	font-family: sans-serif;
}

#loading-status {
	margin: 0px;
	font-weight: 500;
	padding: 20px;
}

.loading-bar-container {
	width: 300px;
	height: 3px;

	background: #333;
	overflow: hidden;
}

#loading-bar {
	width: 0%;
	height: 100%;

	background: #0078d4;
	transition: width 0.2s ease;
}